- 
  var form = true;
  
  var title = 'Отзыв';

doctype html
html(lang='ru')
  include includes/head.pug
  body
    .container
      include includes/page-header.pug
      include includes/intro.pug
      section.review
        //Review's form
        form.review-form#form(action='/server', method='post', enctype='multipart/form-data')
          // Traveler's data
          fieldset.review-form__fieldset
            h2.review-form__title Представьтесь, пожалуйста
            .review-form__box
              .review-form__item
                label(for='surname')
                  | Фамилия:
                  sup *
                |  
                input#surname(type='text', name='surname', placeholder='Фамилия' autofocus='', required='')
              .review-form__item
                label(for='name')
                  | Имя:
                  sup *
                |  
                input#name(type='text', name='name', placeholder='Имя', required='')
              .review-form__item
                label(for='patronymic')
                  | Отчество:
                  sup * 
                |  
                input#patronymic(type='text', name='patronymic', placeholder='Отчество', required='')
          //Radiobuttons_General impression
          fieldset.review-form__fieldset 
            h2.review-form__title Ваше впечатление:
            .review-form__box.review-form__box--impress
              .review-form__item.review-form__item-impress
                input#radio-positive(type='radio', name='radio', checked='')
                |  
                label(for='radio-positive') Скорее положительное
              .review-form__item.review-form__item-impress
                input#radio-negative(type='radio', name='radio')
                |  
                label(for='radio-negative') Скорее отрицательное
          // Travelling's dates
          fieldset.review-form__fieldset
            h2.review-form__title Даты вашей поездки:
            .review-form__box
              .review-form__item.js-travel-dates
                label(for='date-arrival')
                  | Дата приезда:
                  sup *
                |  
                input#date-arrival(type='text', name='date-arrival', placeholder='Выберите дату', readonly='', required='')
              .review-form__item
                label.for-mobile(for='duration')
                  | Длительность пребывания:
                  sup *
                |  
                label.for-tablet(for='duration')
                  | Дней пребывания:
                  sup *
                .review-form__quantity.js-dates-travel
                  a.review-form__button.review-form__button--minus.disabled(href='#')#dates-travel-minus
                  .review-form__quantity-days
                    input#duration(type='text', name='duration', placeholder='дней', value='1' required='', disabled)
                  a.review-form__button.review-form__button--plus.disabled(href='#')#dates-travel-plus
              .review-form__item
                label(for='date-departure')
                  | Дата отъезда:
                  sup *
                |  
                input#date-departure(type='text', name='date-departure', placeholder='Выберите дату', readonly='', required='')
          // Traveler's questionnaire
          fieldset.review-form__fieldset
            h2.review-form__title Кол-во путешественников:
            .review-form__item
              label.for-mobile(for='quantity')
                | Количество путешественников:
                sup *
              |  
              label.for-tablet(for='quantity')
                | Кол-во путешественников:
                sup *
              .review-form__quantity.js-travelers
                a.review-form__button.review-form__button--minus(href='#')#travelers-minus
                .review-form__quantity-number
                  input#quantity(type='text', name='quantity', value='1', required='', disabled='')
                a.review-form__button.review-form__button--plus(href='#')#travelers-plus
            ul.review-form__travelers#review-travelers
              // Traveler 1
              li.review-form__traveler
                .review-form__item.review-form__traveler-number
                  label(for='traveler-1') №
                  |  
                  input#traveler-1(type='text', name='traveler-1', value='1', readonly='', disabled='')
                .review-form__traveler-data
                  .review-form__item 
                    label(for='travel-surname-1')
                      | Фамилия: 
                      sup *
                    |  
                    input#travel-surname-1(type='text', name='surname-1', value='', required='')
                  .review-form__item
                    label(for='travel-name-1')
                      | Имя:
                      sup *
                    |  
                    input#travel-name-1(type='text', name='name-1', value='', required='')
                  .review-form__item
                    label(for='travel-patronymic-1')
                      | Отчество:
                      sup * 
                    |  
                    input#travel-patronymic-1(type='text', name='patronymic-1', value='')
          // Checkboxes_Visited sights
          fieldset.review-form__fieldset
            h2.review-form__title
              | Посещенные
              br
              | достопримечательности
            .review-form__box.review-form__box--sight
              .review-form__item
                input#sight-1(type='checkbox', name='check1', checked='')
                |  
                label(for='sight-1') Мост Дьявола
              .review-form__item
                input#sight-2(type='checkbox', name='check2')
                |  
                label(for='sight-2') Слайд-парк
              .review-form__item
                input#sight-3(type='checkbox', name='check3', checked='')
                |  
                label(for='sight-3') Гора-Колокол
              .review-form__item
                input#sight-4(type='checkbox', name='check4', checked='')
                |  
                label(for='sight-4') Красные скалы
          // Uploading photos
          fieldset.review-gallery
            h2.review-form__title Загрузите фотографии
            .review-gallery__upload-file
              input#review-img-upload(type='file', name='upload-pictures', multiple) 
              |  
              label.btn.for-mobile-tablet(for='review-img-upload') Выбрать фотографии
              |  
              label.btn.btn--blue.for-desktop(for='review-img-upload') Перетащите фотографии сюда
            // Preview
            ul.review-gallery__list#review-gallery
          button.btn.btn--blue.review-form__send-btn(type="submit") Отправить отзыв
      include includes/page-footer.pug
      include includes/modal.pug
    script(type='text/html', id='image-template')
      img(src='{{image}}', alt='{{name}}', width='140', height='140')
      a.review-gallery__delete-btn(href='')
      p {{name}}
    script(type='text/html', id='traveler-template')
      .review-form__item.review-form__traveler-number
        label(for='traveler-{{number}}') №
        |  
        input(id='traveler-{{number}}', type='text', name='traveler-{{number}}', value='{{number}}', readonly='', disabled='')
      .review-form__traveler-data
        .review-form__item
          label(for='travel-surname-{{number}}')
            | Фамилия:
            sup *
          |  
          input(id='travel-surname-{{number}}', type='text', name='surname-{{number}}', value='', required='')
        .review-form__item
          label(for='travel-name-{{number}}')
            | Имя:
            sup *
          |  
          input(id='travel-name-{{number}}', type='text', name='name-{{number}}', value='', required='')
        .review-form__item
          label(for='travel-patronymic-{{number}}')
            | Отчество:
            sup *
          |  
          input(id='travel-patronymic-{{number}}', type='text', name='patronymic-{{number}}', value='')
    script(src='docs/../libs/mustache.js/mustache.js') 
    script(src='docs/../libs/jquery/jquery.min.js') 
    script(src='docs/../libs/jquery-ui/jquery-ui.min.js')  
    script(src='docs/../js/script.js') 
    
