/*Примеси*/

// Для корректного использования display: inline-block
.inline-block {
  display: inline-block;
  vertical-align: baseline;
}

// Для псевдоэлементов
.pseudo {
  content: "";
  display: block;
  position: absolute;
}

// Оформление label:before радиокнопок и чекбоксов
.mixin_for-radio-checkbox-label-before {
  .pseudo;
  top: 0;
  left: -75px;
  width: 56px;
  height: 56px;
  background: @light-gray-input;
  cursor: pointer;
  .transition(all, ease, 0.5s);
}

// Оформление различных состояний :hover, :active

.opacity(@value) {
  opacity: @value;
}

.transition(@property, @form, @time) {
  transition: @property @form @time;
}

// Для кнопок в модальных окнах, Найти гостиницу, Перетащить фотографии (десктоп), Отправить отзыв

.blue-btn-hover-active {
  &:hover {
    background: @blue-hover;
  }

  &:active {
    background: @blue-active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: @gray-hover;
  }
}

// Для радиокнопок и чекбоксов в форме

.gray-radio-check-hover-active {
  & + label:hover:before {
    background: @gray-hover;
  }

  & + label:active:before {
    background: @gray-active;
  }
}

.overflow-x(@width) {
  max-width: @width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.overflow-y(@height) {
  max-height: @height;
  overflow: hidden;
}
