// Блог
.blog {
  &-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    // outline: 2px solid yellow;
    // background: yellow;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      position: relative;

      &:before, &:after {
        .pseudo;
        width: 2px;
        height: 100%;
        background: @gray-line;
        top:0;
        left: 50%;
      }
    }
    @media (min-width: @desktop-width) {
      justify-content: space-between;
      &:before {
        left: 33%;
      }
      &:after {
        left: 67%;
      }
    }
  }

  &-post {
    width: @wrapper-mobile-width;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 2px solid @gray-line;
    font-size: 0;
    // outline: 2px solid red;

    &:last-child {
      border-bottom: none;
    }

    &__title {
      text-align: center;
      margin-bottom: 20px;
      font: @font-title-tablet;
      .overflow-y(@height: 50px);
    }

    &__text {
      text-align: center;
      margin-bottom: 45px;
      font: @font-reason;
      //Overlow
      .overflow-y(@height: 85px);
    }

    &__date, &__tag {
      .inline-block;
      position: relative;
      padding-left: 20px;
      font: @font-date-tag-blog;
      color: @color-font-gray;
      .overflow-x(@width: 125px);
    }

    &__date {
      margin-left: 5px;
      margin-right: 10%;

      &:before {
        .pseudo;
        background: url("../img/blog-calendar.svg") no-repeat;
        width: 11px;
        height: 11px;
        top: 5px;
        left: 0;
      }
    }

    &__tag {
      text-decoration: none;

      &:before {
        .pseudo;
        background: url("../img/blog-flag.svg") no-repeat;
        width: 11px;
        height: 11px;
        top: 5px;
        left: 0;
      }
    }

    @media (min-width: @tablet-width) {
      width: (@tablet-width - 45px*4)/2; //Based on the layout

       &:nth-child(5), &:last-child {
        border-bottom: 2px solid @gray-line;
      }

      &__date {
        margin-left: 10px;
      }
    }
    @media (min-width: @desktop-width) {
      margin: 0 50px; //Based on the maket

      &:nth-child(4) {
        border-bottom: 2px solid @gray-line;
      }
    }
  }
}

// Tablet

@media (min-width: @tablet-width) {
  br {
    display: none;
  }
}
