// Фоновое изображение + заголовок в начале страницы

.intro {
  position: relative;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    box-shadow: none;
  }

  @media (min-width: @desktop-width) {

  }

  &-img {
    position: relative;
    background: @blue url("../img/photo-background@1x.jpg") no-repeat 0 -55px;
    background-size: cover;
    width: 100%;
    height: 157px;
    padding-top: 48px;
    overflow: hidden;

    @media (min-width: @tablet-width) {
      position: relative;
      background: @blue url("../img/photo-background@1x.jpg") no-repeat 0 -180px;
      background-size: cover;
      height: 290px;
      padding-top: 102px;
      // margin-bottom: 75px; // подогнано по макету
      overflow: hidden;
    }

    @media (min-width: @desktop-width) {
      height: 300px; // подогнано по макету
      margin-bottom: 113px; // подогнано по макету
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: @blue url("../img/photo-background@2x.jpg");
      background-size: cover;
    }

    &__welcome, &__tothegorgeous,
    &__sedona, &__because {
      display: block;
      margin: 0 auto;
    }

    &__welcome {
      width: 144px;
      margin-bottom: 8px;

      @media (min-width: @tablet-width) {
        width: 190px;
        margin-bottom: 10px;
      }
    }

    &__tothegorgeous, &__because {
      width: 196px;
    }

    &__tothegorgeous {
      margin-bottom: 60px;

      @media (min-width: @tablet-width) {
        width: 256px;
        margin-bottom: 52px;
      }
    }

    &__sedona {
      width: 180px; // подогнано по макету
      margin-bottom: 68px;

      &--index {
        width: @wrapper-mobile-width;
      }

      @media (min-width: @tablet-width) {
        width: @wrapper-tablet-btn-width;
        margin-bottom: 56px; // подогнано по макету
      }
    }

    &__because {
      @media (min-width: @tablet-width) {
        width: 296px;
      }
    }

    &:after {
      .pseudo;
      background: url("../img/intro-triangle.svg") no-repeat;
      background-size: 100%;
      width: 1202px;
      height: 57px;
      top: 157 - 56px;
      left: -(1202px/2 - @mobile-width/2);

      @media (min-width: @tablet-width) {
        .pseudo;
        background: url("../img/intro-triangle.svg") no-repeat;
        background-size: cover;
        width: 100%;
        height: 37px;
        top: 290px - 36px;
        left: 0;
      }

      @media (min-width: @desktop-width) {
        height: 57px;
        top: 243px; // подогнано по макету
      }
    }

    &--index {
      background: @blue url("../img/photo-background@1x.jpg") no-repeat;
      background-size: cover;
      height: 390px;
      padding-top: 47px;
      // margin-bottom: 38px;

      @media (min-width: @tablet-width) {
        background: @blue url("../img/photo-background@1x.jpg") no-repeat 0 28%;
        background-size: cover;
        height: 512px;
        padding-top: 76px;
        margin-bottom: 55px; // подогнано по макету
      }

      @media (min-width: @desktop-width) {
        height: 512px;
        margin-bottom: 55px;
      }

      &__sedona {
        // width: @wrapper-mobile-width;
        margin-bottom: 67px;

        @media (min-width: @tablet-width) {
          margin-bottom: 56px;
        }
      }

      &:after {
        top: 390px - 56px;

        @media (min-width: @tablet-width) {
          top: 512px - 36px;
        }

        @media (min-width: @desktop-width) {
          top: 512px - 57px;
        }
      }
    }
  }

  &-describe {
    width: @wrapper-mobile-width;
    position: relative;
    margin: 0 auto 20px;
    padding-top: 74px;

    @media (min-width: @tablet-width) {
      width: 440px; // подогнано по макету
      margin-bottom: 63px - 22px; // от отступа intro надо отнять padding первого fieldset
    }

    &__title {
      margin-bottom: 27px;
      font: @font-title;
      color: @color-font-title;

      @media (min-width: @tablet-width) {
        font: @font-title-tablet-big;
      }
    }

    &__text {
      font: @font-intro;

      &--index {
        font: @font;
      }

      @media (min-width: @tablet-width) {
        font: 14px/24px @font-family;
      }
    }

    &__title, &__text {
      .overflow-y(@height: 100px);
      @media (min-width: @tablet-width) {
        .overflow-y(@height: 50px);
      }
    }

    &--index {
      width: @wrapper-mobile-width - 20px;
      margin: 0 auto;
      padding-top: 38px;

      @media (min-width: @tablet-width) {
        width: 500px;
        margin-bottom: 50px; // подогнано по макету

        h1 {
          font: @font-title-tablet;
        }

        p {
          font: @font;
        }
      }
    }
  }

  &--blog {
    .intro-describe {
      padding-top: 48px;
      margin-bottom: 30px;
      &__title {
        margin-bottom: 40px;
        font-size: 30px;
      }
      @media (min-width: @tablet-width) {
        margin-bottom: 50px;
      }
    }
  }
}
