// Общие стили для всех страниц

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: @font;
  color: @color-font;
  text-transform: uppercase;
}

.container {
  width: @mobile-width;
  margin: 0 auto;
}

.wrapper {
  width: @wrapper-width;
  margin: 0 auto;
}
