// Хэдер

@media (min-width: @mobile-width) {
  .page-header {
    margin-bottom: 55px;
    text-align: center;
  }

  .header-nav {
    position: relative;

    li {
      background: @blue;
      border-top: 1px solid #9ac2db;
      border-bottom: 1px solid #678fa8;

      &:nth-child(5), &:nth-child(6) {
        display: none;
      }
    }

    &__tab-menu {
      &:before {
        .mixin_for-pseudo;
        background: url(@dir-img-sprite) no-repeat -145px -66px;
        width: 23px;
        height: 22px;
        top: 240px;
        right: 20px;
      }

      &:after {
        .mixin_for-pseudo;
        background: url(@dir-img-sprite) no-repeat -145px -41px;
        width: 23px;
        height: 22px;
        top: 16px;
        right: 20px;
      }
    }

    &__item {
      display: inline-block;
      vertical-align: baseline;
      width: 100%;
      font: bold 18px/54px @font-family;
      color: @color-font-white;
      text-decoration: none;
    }

    &__logo {
      position: absolute;
      left: (@mobile-width - 67px)/2;
      z-index: 1000;

      &:after {
        content: url("../img/form-logo-triangle.svg");
        display: block;
        position: absolute;
        width: 137px;
        height: 71px;
        top: 0;
        left: -(137px - 67px)/2;
        z-index: -1000;
      }
    }
  }

}

@media (min-width: @tablet-width) {
  .page-header {
    margin-bottom: 0;
  }

  .header-nav {
    position: relative;
    width: 100%;

    &__tab-menu {
      display: none;
    }

    li {
      width: 20%;
      background: @color-font-white;
      border: none;

      &:nth-child(1) {
        order: 3;
      }

      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(3), &:nth-child(4) {
        display: none;
      }

      &:nth-child(5), &:nth-child(6) {
        .mixin_inline-block;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 2;
        margin-right: 216px;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      font: bold 14px/56px @font-family;
      color: @color-font-title;
    }

    &__logo {
      position: absolute;
      top: 0;
      left: (@tablet-width - 67px)/2;
    }
  }
}
