// Страница формы

.review {
  margin: 0 auto;

  .for-tablet {
    display: none;
  }

  .for-mobile {
    display: block;
  }

  &-form {
    text-align: left;

    sup {
      color: #ff2b2b;
    }

    &__fieldset {
      border: none;
      margin-bottom: 20px;
      border-bottom: 1px solid @gray-line-form;
    }

    &__title {
      font: @font-title;
      text-align: center;
      margin-bottom: 26px;
    }

    &__item {
      label {
        display: block;
        margin-bottom: 10px;
        padding-left: 20px;
      }

      input {
        width: 100%;
        padding-left: 22px;
        margin-bottom: 20px;
        font: @font-title;
        line-height: 58px;
        background: @light-gray-input;
        border: 0;
        text-transform: none;

        &[type="text"] {
          // &:focus {
          //   box-shadow: 0 0 0 2px @gray-shadow-text;
          // }
        }

        &[type="radio"],
        &[type="checkbox"] {
          display: none;

          & + label {
            position: relative;
            margin-left: 75px;
            margin-bottom: 22px;
            font: @font-title;
            line-height: 56px;
            text-transform: none;
            cursor: pointer;
          }
        }

        &[type="radio"] {
          & + label:before {
            .mixin_for-radio-checkbox-label-before;
            border-radius: 50%;
          }

          &:checked {
            & + label:after {
              .mixin_for-pseudo;
              top: (56px-22px)/2;
              left: -58px;
              width: 22px;
              height: 22px;
              background: @color-font;
              border-radius: 50%;
              z-index: 1000;
            }
          }
        }

        &[type="checkbox"] {
          & + label:before {
            .mixin_for-radio-checkbox-label-before;
            border-radius: 5px;
          }

          &:checked {
            & + label:after {
              .mixin_for-pseudo;
              top: 18px;
              left: -60px;
              background: url(@dir-img-sprite) no-repeat -188px -3px;
              width: 25px;
              height: 19px;
              z-index: 1000;
            }
          }
        }

        &--impress {
          margin-bottom: 12px;
        }
      }
    }

    &-button {
      .mixin_inline-block;
      position: relative;
      width: 60px;
      height: 60px;
      background: @light-gray-input;

      &__minus:before {
        .mixin_for-pseudo;
        background: url("../img/icon-minus.svg") no-repeat;
        background-size: cover;
        width: 20px;
        height: 4px;
        top: 27px;
        left: 21px;
        opacity: 0.3;
      }

      &__plus:before {
        .mixin_for-pseudo;
        background: url("../img/icon-plus.svg") no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        top: 19px;
        left: 21px;
        opacity: 0.3;
      }
    }
    &-quantity {
      display: flex;
      justify-content: space-between;

      &__number, &__days {
        position: relative;
        width: 144px;
      }

      &__number {
        &:before {
          content: "чел.";
          display: block;
          position: absolute;
          top: (58px - 26px)/2;
          left: 93px;
          font: @font-title;
          opacity: 0.3;
          text-transform: lowercase;
        }
      }

      &__days {
        &:before {
          content: "дн.";
          display: block;
          position: absolute;
          top: (58px - 26px)/2;
          left: 100px;
          font: @font-title;
          opacity: 0.3;
          text-transform: lowercase;
        }
      }
    }

    &-traveler {
      &__info {
        display: flex;
        justify-content: space-between;
      }

      &__number {
        width: 60px;

        label, input {
          padding-left: 0;
          text-align: center;
        }
      }

      &__data {
        width: 210px;
      }
    }

    &__send-btn {
      .mixin_for-big-btn;
      margin-bottom: 116px;

      input[type="submit"] {
        display: none;

        & + label {
          display: block;
          cursor: pointer;
        }
      }
    }
  }

  &-gallery {
    border: none;

    &__tablet-only {
      display: none;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      position: relative;
      margin-right: 35px;
      margin-bottom: 35px;

      p {
        display: none;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 48px;
      }
    }

    &__delete-btn {
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../img/icon-delete-img-gallery.png") no-repeat;
      background-size: cover;
      top: -30px/2;
      left: (70px - 30px)/2;

      &:last-child {
        display: none;
      }
    }

    &__upload-file {
      width: 100%;
      margin-bottom: 54px;
      text-align: center;
      background: @light-gray-input;
      font: @font-btn;
      cursor: pointer;

      input[type="file"] {
        display: none;

        & + label {
          display: block;
          cursor: pointer;
          opacity: 0.3;
        }
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .review {

    .for-tablet {
      display: block;
      text-align: center;
    }

    .for-mobile {
      display: none;
    }

    &-form {

      .wrapper {
        width: @wrapper-tablet-form-width;
      }

      &-box {
        display: flex;
        justify-content: space-between;

        &--sight {
          width: @wrapper-tablet-btn-width;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin: 0 auto;

          input + label {
            width: @wrapper-tablet-btn-width/2 - 75px;
            padding-left: 0;
            margin-bottom: 32px;
          }
        }
      }

      &__fieldset {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        &:nth-of-type(1), &:nth-of-type(3) {
          padding-bottom: 67px;
        }

        &:nth-of-type(2) {
          padding-bottom: 54px - 22px;
        }

        &:nth-of-type(4) {
          padding-bottom: 66px;
        }

        &:nth-of-type(5) {
          padding-bottom: 58px - 32px;
        }
      }

      &__title {
        position: relative;
        font: @font-title-tablet;

        &:before, &:after {
          .mixin_for-pseudo;
          background: @gray-line;
          width: 125px;
          height: 1px;
          top: 50%;
        }

        &:after {
          right: 0;
        }
      }

      &__item {

        input {
          width: 175px;
          margin-bottom: 0;
        }

        &--impress {
          label {
            margin-bottom: 0;
          }
        }
      }

      &-quantity {
        width: 175px;
        justify-content: flex-start;
        margin: 0 auto;

        &__days, &__number {
          width: auto;

          &:before {
            display: none;
          }

          input {
            width: 175px - 60px - 60px;
            padding-left: 0;
            text-align: center;
          }
        }
      }

      &-traveler {

        &__info {
          padding-top: 32px;
        }

        &__data {
          display: flex;
          justify-content: space-between;
          width: auto;

          input {
            width: 190px;
            margin-right: 6px;
          }
        }

        &__number {
          width: auto;
          margin-right: 6px;

          input {
            width: 60px;
          }
        }
      }

      &__send-btn {
        width: @wrapper-tablet-btn-width;
        margin: 0 auto;
        margin-bottom: 140px;
      }
    }

    &-gallery {

      &__upload-file {
        width: @wrapper-tablet-btn-width;
        margin: 0 auto;
        margin-bottom: 88px;
      }

      &__mobile-only {
        display: none;
      }

      &__tablet-only {
        display: block;
      }

      &__list {
        justify-content: center;
        padding-left: 35px;
        padding-bottom: 60px - 35px;
      }

      &__item {
        margin-right: 65px;

        &:nth-child(3n) {
          margin-right: 65px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        img {
          margin-bottom: 18px;
        }

        p {
          display: block;
        }
      }

      &__delete-btn {
        display: block;
        position: absolute;
        width: 30px*2;
        height: 30px*2;
        top: -30px*2/2;
        left: 140px - 60px/2;
      }
    }
  }
}
