
// Modal window_Failure
.modal.modal--failure#modal-fail
  .wrapper.wrapper--failure
    h3.modal__title.modal__title--failure Что-то пошло не так! 
    p.modal__text
  |  
  button.btn.btn--blue.modal__btn.modal__btn--failure(type='button') ОК
// Modal window_Success
.modal.modal--success#modal-success
  .wrapper.wrapper--success
    h3.modal__title Ваш отзыв отправлен!
    p.modal__text
      | Спасибо за ваше участие, ваш отзыв уже поступил к нам. В ближайшее время мы опубликуем его на сайте.
  .wrapper-btn
    button.btn.btn--blue.modal__btn(type='button') Закрыть окно
