// Modal window_Failure
.modal.modal-failure
  .wrapper.wrapper-failure
    h3.modal__title.modal__title-failure Что-то пошло не так!
    p.modal__text Проверьте поля, выделенные красным, скорее всего, вы забыли их заполнить.
  |  
  a.modal__btn.modal__btn-failure(href='') ОК
// Modal window_Success
.modal.modal-success
  .wrapper.wrapper-success
    h3.modal__title Ваш отзыв отправлен!
    p.modal__text
      | Спасибо за ваше участие, ваш отзыв уже поступил к нам. В ближайшее время мы опубликуем его на сайте.
  .wrapper-btn
    a.modal__btn.modal__btn-success(href='') Закрыть окно
