//Footer
footer.page-footer
  .page-footer__hash #Visitsedona
  .page-footer__social
    // Twitter
    a(href='#')
      svg#Layer_1.page-footer__social--twitter(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='17.5px', height='14.663px', fill='#fff', viewbox='0 0 17.5 14.663', enable-background='new 0 0 17.5 14.663', xml:space='preserve')
        g#W6EeEF_1_
          g
            path(fill-rule='evenodd', clip-rule='evenodd', d='M11.283.153c1.736-.484 3.074.264 3.685 1.15.694-.225 1.372-.47 2.072-.69-.004.841-.538 1.478-.883 1.728C16.861 2.506 17.5 1.86 17.5 1.86c-.175.977-1.035 1.746-1.611 1.977C15.65 10.429 12.617 14.793 5.507 14.66c-.538 0 .077 0-.46 0-.422 0-4.29-.45-5.047-1.843 2.341.192 4.011-.412 4.835-1.15-.989-.293-2.761-.464-3.07-2.881.362.105.583.223 1.228.117C1.757 8.067.385 7.366.461 5.218c.294.319 1.1.523 1.381.461-.725-.235-2.03-3.281-.921-4.836C2.794 2.655 4.769 4.364 8.29 4.528 8.506 2.288 9.461.788 11.283.153z') 
    // Facebook
    a(href='#')
      svg#Layer_2.page-footer__social--facebook(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='8.672px', height='18.944px', fill='#fff', viewbox='0 0 8.672 18.944', enable-background='new 0 0 8.672 18.944', xml:space='preserve')
        path(d='M6.275 3.356c.799 0 1.599 0 2.398 0 0-1.119 0-2.237 0-3.356-.959 0-1.92 0-2.878 0C2.656.181 1.54 2.387 1.948 6.114H0v3.518h1.959c0 3.104 0 6.208 0 9.312 1.279 0 2.559 0 3.837 0 0-3.104 0-6.208 0-9.312h2.857V6.114H5.787C5.765 5.069 5.75 3.709 6.275 3.356z')  
    // Youtube 
    a(href='#')
      svg#Layer_3.page-footer__social--youtube(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='19.979px', height='14.015px', fill='#fff', viewbox='0 0 19.979 14.015', enable-background='new 0 0 19.979 14.015', xml:space='preserve')
        path(d='M17.145 0H2.835C1.275 0 0 1.275 0 2.835v8.345c0 1.56 1.275 2.835 2.835 2.835h14.31c1.56 0 2.835-1.275 2.835-2.835V2.835C19.979 1.275 18.704 0 17.145 0zM7.036 10.392V3.623l6.769 3.384L7.036 10.392z')
  // Developed by
  .page-footer__developer
    p.page-footer__developer-text Разработано  
    a(href='https://htmlacademy.ru/', target='_blank')
      svg#Layer_4.page-footer__logo(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26.943 34.09', width='26.943', height='34.09', version='1')
        path(d='M 13.62 0.017 L 13.472 0 L 0 1.412 v 24.66 l 13.472 8.018 l 13.43 -7.99 l 0.042 -0.026 V 1.412 L 13.62 0.017 Z m 11.4 12.11 L 13.494 5.334 V 5.23 l -0.088 0.05 l -0.088 -0.056 v 0.11 L 1.924 12.117 v -8.97 L 13.47 1.934 l 11.55 1.213 v 8.98 Z m -11.615 -5.34 L 24.923 13.5 l -4.48 2.64 l -7.092 -4.22 l -0.01 1.414 l 5.903 3.513 l -0.86 0.507 l -5.03 -2.992 l -0.014 1.415 l 3.826 2.275 l -0.782 0.523 l -3.032 -1.787 l -0.012 1.413 l 1.852 1.093 l -1.8 1.08 l -11.356 -6.75 l 11.37 -6.835 Z m -11.48 8.34 l 11.41 6.79 l 0.016 1.045 l -7.94 -4.728 l -0.014 1.416 l 7.98 4.796 l 0.016 1.076 l -7.97 -4.74 l -0.014 1.414 l 8.02 4.82 l 0.046 0.027 l 8.143 -4.872 v -1.266 l -0.01 -0.148 v -3.76 l 3.414 -2.037 v 10.02 l -11.55 6.87 l -11.545 -6.87 v -9.853 Z')

      //- svg#Layer_4.page-footer__logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='26.943px', height='34.09px', fill='#000', viewbox='0 0 26.943 34.09', enable-background='new 0 0 26.943 34.09', xml:space='preserve')
      //-   path(d='M13.62.017 13.472 0 0 1.412v24.661l13.472 8.017 13.43-7.99.042-.026V1.412L13.62.017zM25.019 12.127 13.495 5.334l-.001-.104L13.407 5.28l-.088-.056v.109L1.925 12.118V3.147l11.547-1.212 11.547 1.212V12.127zM13.405 6.787 24.923 13.5l-4.479 2.64-7.093-4.221-.013 1.415 5.904 3.513-.86.507-5.031-2.992-.013 1.415 3.827 2.275-.782.523-3.032-1.787-.013 1.413 1.852 1.091-1.8 1.081L2.034 13.622 13.405 6.787zM1.925 15.127l11.411 6.791.015 1.044-7.941-4.728L5.395 19.65l7.979 4.796.017 1.076-7.972-4.741-.013 1.415 8.021 4.821.045.026 8.143-4.872v-1.268l-.011-.148v-3.761l3.415-2.036v10.02L13.472 31.85 1.925 24.979V15.127z')
